<span class="color-picker__display">
  <span class="color-picker__swatch" style="background-color: <%= field.data %>;"></span>
  <span class="color-picker_value">
    <%= field.data %>
  </span>
</span>
